*.json
doc/TEXMFHOME/
__pycache__/

# Ignorer tous les fichiers dans le dossier TEXMFHOME
doc/TEXMFHOME/
# Ignorer tous les fichiers dans le dossier images
ScrapyWorkspace/images/
**/TEXMFHOME/
.pytest_cache/
*.json
__pycache__/
task/
env/
**/secret.txt


