*.json
env/
doc/TEXMFHOME/
__pycache__/

# Ignorer tous les fichiers dans le dossier TEXMFHOME
doc/TEXMFHOME/
# Ignorer tous les fichiers dans le dossier images
ScrapyWorkspace/images/
**/TEXMFHOME/ # Les fichiers latex sont générés grâce au package https://github.com/zestedesavoir/latex-template (pénible à utiliser)
